.d-23501C {
	background-color: #D01919;
}

.d-23502C {
	background-color: #D01919;
}

.d-23702C {
	background-color: #D01919;
}

.d-09005C{
	background-color: #F2711C;
}

.d-09006C {
	background-color: #FBBD08;
}

.d-09001C {
	background-color: #A7BD0D;
}

.d-09004C {
	background-color: #21BA45;
}

.d-09043C {
	background-color: #009C95;
}

.d-09044C {
	background-color: #1678C2;
}

.d-09015C {
	background-color: #6435C9;
}

.d-09026C {
	background-color: #E61A8D;
}

.d-06013C {
	background-color: #A5673F;
}

.d-12111C {
	background-color: #838383;
}

.d-18001C {
	background-color: #9627BA;
}